    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    /* reseat */
    
    @media screen and (max-width:992px) {
        .big-bg {
            background-size: cover !important;
        }
        .btn-holder {
            width: 80vw;
        }
        .opening {
            width: 80vw !important;
        }
        .btn-4 span {
            width: 80vw !important;
        }
    }
    
    @media screen and (max-width:768px) {
        .btn-holder {
            width: 80vw;
        }
        .opening {
            width: 80vw !important;
        }
        .btn-4 span {
            width: 80vw !important;
        }
        .cheng-right {
            animation-name: b-small !important;
        }
        .yue-right {
            animation-name: d-small !important;
        }
    }
    
    @media screen and (max-width:450px) {
        .cheng-right {
            animation-name: b-tiny !important;
        }
        .yue-right {
            animation-name: d-tiny !important;
        }
    }
    /* background_css3 JS創造的 */
    
    #background_css3 {
        pointer-events: none !important;
    }
    /* background_css3 JS創造的 */
    
    @keyframes big-bg {
        0% {
            opacity: 0.4;
        }
        100% {
            opacity: 1;
        }
    }
    /*
body{
    background-image: url(img/bg-img/1111111.jpg);
    background-repeat: no-repeat;
    background-size: 100%,100%;
    animation-name: big-bg;
    animation-duration:3s ;
}
*/
    /*下箭头*/
    
    @keyframes arrow {
        0% {
            top: 62vh;
        }
        70% {
            top: 64vh;
        }
        100% {
            top: 66vh;
        }
    }
    
    .down-arrow {
        animation-name: arrow;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        position: absolute;
        right: 36.5%;
        top: 68%;
        display: inline-block;
        width: 40px;
        height: 30px;
        margin-right: 20px;
        z-index: -1;
    }
    
    .down-arrow::after {
        display: inline-block;
        content: " ";
        /* 調大小*/
        height: 48px;
        width: 48px;
        /* 調寬度 */
        border-width: 0 5px 5px 0;
        border-color: #ffffffc5;
        border-style: solid;
        transform: matrix(0.71, 0.71, - 0.71, 0.71, 0, 0);
        transform-origin: center;
        transition: transform .3s;
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -10px;
    }
    
    .big-bg {
        position: fixed;
        top: 0;
        left: 0;
        background: url(img/bg-img/111.jpg) right top;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        z-index: -1;
        animation-name: big-bg;
        animation-duration: 2s;
    }
    
    @keyframes a-link-ok {
        0% {
            opacity: 0;
        }
        90% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes a-link {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    .a-link {
        animation-name: a-link-ok;
        animation-duration: 9s;
        z-index: 1;
    }
    
    .a-link a {
        position: absolute;
        right: 35%;
        top: 75%;
        font-size: 36px;
        position: absolute;
        color: #fff;
        text-decoration: none;
    }
    /*-------------------------------------------------------------*/
    /* opacity-bg */
    
    @keyframes opacity-bg {
        0% {
            opacity: 1;
            z-index: 9;
        }
        90% {
            opacity: 1;
            z-index: 8;
        }
        100% {
            opacity: 0;
            z-index: -9;
        }
    }
    
    .opacity-bg {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: rgb(11, 12, 12);
        opacity: 0;
        z-index: -9;
        animation-name: opacity-bg;
        animation-duration: 9s;
        margin: 0px auto;
    }
    
    .btn-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1000px;
        width: 80vw;
        margin: 10px auto 35px;
    }
    
    .btn {
        position: relative;
        display: inline-block;
        width: auto;
        height: auto;
        background-color: transparent;
        cursor: pointer;
        min-width: 150px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        margin: 0px auto !important;
    }
    
    .btn.hover-border-10 {
        position: relative;
    }
    
    .btn-4 span {
        position: relative;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
        top: 0px;
        left: 0px;
        width: 1000px;
        height: 500px;
        color: rgb(28, 31, 30);
        background-color: rgb(245, 245, 245);
        transition: all 0.3s ease 0s;
    }
    
    .btn-4::before,
    .btn-4::after {
        position: absolute;
        content: "";
        width: 15%;
        height: 2px;
        background-color: rgb(54, 56, 55);
        z-index: 2;
    }
    
    @keyframes border-left {
        0% {
            top: 30%;
            height: 20%;
        }
        100% {
            top: 0%;
        }
    }
    
    .btn.hover-border-10::before {
        position: absolute;
        content: "";
        top: 0px;
        left: 0%;
        height: 100%;
        width: 2px;
        animation-name: border-left;
        animation-duration: 1s;
        transition: height 0.2s ease-out 0.35s;
    }
    
    @keyframes border-right {
        0% {
            top: 50%;
            height: 00%;
        }
        66% {
            top: 50%;
            height: 0%;
        }
        100% {
            top: 0%;
        }
    }
    
    .btn.hover-border-10::after {
        position: absolute;
        content: "";
        top: 0px;
        right: 0%;
        height: 100%;
        width: 2px;
        animation-name: border-right;
        animation-duration: 3s;
        transition: height 0.2s ease-out 0.35s;
    }
    
    @keyframes span-border-top {
        0% {
            width: 0%;
        }
        33% {
            width: 0%;
        }
        66% {
            width: 100%;
        }
        100% {
            width: 100%;
        }
    }
    
    .btn.hover-border-10 span::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 0%;
        opacity: 1;
        z-index: 2;
        top: 0%;
        left: 0%;
        animation-name: span-border-top;
        animation-duration: 3s;
        background: transparent;
        border-top: 2px solid rgb(54, 56, 55);
        transition: width 0.25s ease-in 0s, opacity 0s ease 0.35s;
    }
    
    @keyframes span-border-bottom {
        0% {
            width: 0%;
        }
        33% {
            width: 0%;
        }
        66% {
            width: 100%;
        }
        100% {
            width: 100%;
        }
    }
    
    .btn.hover-border-10 span::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0%;
        opacity: 1;
        z-index: 2;
        bottom: 0px;
        left: 0%;
        animation-name: span-border-bottom;
        animation-duration: 3s;
        background: transparent;
        border-bottom: 2px solid rgb(54, 56, 55);
        transition: width 0.25s ease-in 0s, opacity 0s ease 0.35s;
    }
    /* opacity-skip */
    
    @keyframes opacity-skip {
        0% {
            opacity: 1;
            z-index: 8;
        }
        100% {
            opacity: 0;
            z-index: -10;
        }
    }
    
    @keyframes opacity-skip-ok {
        0% {
            opacity: 1;
        }
        090% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    
    .opacity-skip {
        width: 100%;
        height: 100%;
        background-color: rgb(11, 12, 12);
        opacity: 0;
        z-index: 10;
        animation-name: opacity-skip-ok;
        animation-duration: 9s;
        margin: 0px auto;
    }
    
    @keyframes opening {
        0% {
            z-index: 999999999999999999999999999999999999999999999999999999999999;
            opacity: 1;
        }
        100% {
            z-index: -999999999999999999999999999999999999999999999999999999999999;
            opacity: 0;
        }
    }
    
    @keyframes opening {
        0% {
            background: rgb(11, 12, 12);
        }
        75% {
            background: rgb(11, 12, 12);
        }
        85% {
            background: radial-gradient(ellipse at center, rgb(194, 189, 189), rgb(87, 87, 87));
        }
        100% {
            background: radial-gradient(ellipse at center, rgb(194, 189, 189), rgb(51, 51, 51));
        }
    }
    
    .opening {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background: radial-gradient(ellipse at center, rgb(194, 189, 189), rgb(51, 51, 51));
        animation-name: opening;
        animation-duration: 4s;
    }
    /* text */
    
    @keyframes s {
        0% {
            width: 100px;
            height: 100px;
        }
        56% {
            width: 100px;
            height: 100px;
        }
        67% {
            width: 250px;
            height: 60px;
        }
        69% {
            width: 240px;
            height: 240px;
        }
        100% {
            width: 240px;
            height: 240px;
        }
    }
    
    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 60px;
        animation: 9s ease 0s 1 alternate none running s;
    }
    
    .text div {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 240px;
        height: 240px;
    }
    /* 誠 */
    
    @keyframes a {
        0% {
            opacity: 0;
        }
        45% {
            opacity: 0;
        }
        56% {
            opacity: 1;
            clip-path: polygon(0% 0%, 0% 100%, 50% 50%);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgb(204, 0, 0);
        }
        67% {
            clip-path: polygon(0% 100%, 25% 100%, 12.5% 0%);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgb(0, 102, 153);
        }
        78% {
            position: absolute;
            top: 0%;
            left: -160%;
            width: 100%;
            height: 100%;
            background-color: transparent;
            clip-path: none;
            border-radius: 50%;
        }
        89% {}
        100% {
            position: absolute;
            top: 0%;
            left: -160%;
            width: 100%;
            height: 100%;
            background-color: transparent;
            clip-path: none;
            border-radius: 50%;
        }
    }
    
    .cheng-left {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: blue;
        clip-path: polygon(49% 11%, 58% 11%, 60% 21%, 71% 21%, 73% 30%, 57% 30%, 58% 39%, 74% 39%, 75% 48%, 58% 48%, 60% 55%, 75% 55%, 75% 64%, 59% 64%, 52% 70%, 77% 70%, 77% 88%, 41% 88%, 41% 70%, 51% 70%, 50% 82%, 67% 82%, 67% 75%, 49% 75%, 45% 76%, 59% 64%, 41% 64%, 41% 55%, 60% 55%, 58% 48%, 39% 48%, 39% 39%, 58% 39%, 57% 30%, 39% 30%, 39% 21%, 51% 21%);
        animation: 9s ease 0s 1 alternate none running a;
    }
    
    @keyframes b {
        0% {
            opacity: 0;
        }
        45% {
            opacity: 0;
        }
        56% {
            opacity: 1;
            clip-path: polygon(0% 0%, 100% 0%, 50% 50%);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgb(204, 0, 0);
        }
        67% {
            clip-path: polygon(25% 0%, 50% 0%, 37.5% 100%);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgb(0, 153, 85);
        }
        78% {
            position: absolute;
            top: 0%;
            left: -40%;
            clip-path: none;
            background-image: url(img/www-img/誠.png);
            background-repeat: no-repeat;
            background-color: rgba(255, 238, 0, 0.2);
            background-size: contain;
            border-radius: 50%;
        }
        89% {}
        100% {
            position: absolute;
            top: 0%;
            left: -40%;
            clip-path: none;
            background-image: url(img/www-img/誠.png);
            background-repeat: no-repeat;
            background-color: rgba(255, 8, 0, 0.2);
            border-radius: 50%;
            background-size: contain;
        }
    }
    
    @keyframes b-small {
        0% {
            opacity: 0;
        }
        45% {
            opacity: 0;
        }
        56% {
            opacity: 1;
            clip-path: polygon(0% 0%, 100% 0%, 50% 50%);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgb(204, 0, 0);
        }
        67% {
            clip-path: polygon(25% 0%, 50% 0%, 37.5% 100%);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgb(0, 153, 85);
        }
        78% {
            position: absolute;
            top: 20%;
            left: -20%;
            width: 50%;
            height: 50%;
            clip-path: none;
            background-image: url(img/www-img/誠.png);
            background-repeat: no-repeat;
            background-color: rgba(255, 238, 0, 0.2);
            background-size: contain;
            border-radius: 50%;
        }
        89% {}
        100% {
            position: absolute;
            top: 20%;
            left: -20%;
            width: 50%;
            height: 50%;
            clip-path: none;
            background-image: url(img/www-img/誠.png);
            background-repeat: no-repeat;
            background-color: rgba(255, 8, 0, 0.2);
            border-radius: 50%;
            background-size: contain;
        }
    }
    
    @keyframes b-tiny {
        0% {
            opacity: 0;
        }
        45% {
            opacity: 0;
        }
        56% {
            opacity: 1;
            clip-path: polygon(0% 0%, 100% 0%, 50% 50%);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgb(204, 0, 0);
        }
        67% {
            clip-path: polygon(25% 0%, 50% 0%, 37.5% 100%);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgb(0, 153, 85);
        }
        78% {
            position: absolute;
            top: 20%;
            left: 5%;
            width: 40%;
            height: 40%;
            clip-path: none;
            background-image: url(img/www-img/誠.png);
            background-repeat: no-repeat;
            background-color: rgba(255, 238, 0, 0.2);
            background-size: contain;
            border-radius: 50%;
        }
        89% {}
        100% {
            position: absolute;
            top: 20%;
            left: 5%;
            width: 40%;
            height: 40%;
            clip-path: none;
            background-image: url(img/www-img/誠.png);
            background-repeat: no-repeat;
            background-color: rgba(255, 8, 0, 0.2);
            border-radius: 50%;
            background-size: contain;
        }
    }
    
    .cheng-right {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: blue;
        clip-path: polygon(24% 24%, 40% 24%, 34% 12%, 42% 10%, 49% 23%, 67% 23%, 67% 31%, 52% 31%, 60% 47%, 67% 39%, 73% 45%, 64% 55%, 75% 74%, 84% 66%, 83% 77%, 73% 86%, 58% 61%, 48% 71%, 43% 65%, 54% 54%, 43% 31%, 20% 31%, 18% 44%, 40% 42%, 36% 82%, 20% 71%, 30% 70%, 32% 50%, 18% 52%, 14% 84%, 7% 79%, 13% 24%);
        animation: 9s ease 0s 1 alternate none running b;
    }
    /* 悅 */
    
    @keyframes c {
        0% {
            opacity: 0;
        }
        45% {
            opacity: 0;
        }
        56% {
            opacity: 1;
            clip-path: polygon(100% 0%, 100% 100%, 50% 50%);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgb(204, 0, 0);
        }
        67% {
            clip-path: polygon(62.5% 0%, 75% 100%, 50% 100%);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgb(255, 136, 0);
        }
        78% {
            position: absolute;
            left: 80%;
            width: 100%;
            height: 100%;
            background-color: transparent;
            clip-path: none;
            border-radius: 50%;
        }
        89% {}
        100% {
            position: absolute;
            top: 0%;
            left: 80%;
            width: 100%;
            height: 100%;
            background-color: transparent;
            clip-path: none;
            border-radius: 50%;
        }
    }
    
    .yue-left {
        position: absolute;
        top: 50%;
        right: 40%;
        width: 100px;
        height: 100px;
        background-color: blue;
        clip-path: polygon(34% 36%, 30% 42%, 31% 52%, 38% 58%, 43% 54%, 42% 41%, 50% 38%, 53% 63%, 50% 80%, 58% 89%, 63% 81%, 63% 59%, 63% 45%, 73% 47%, 75% 41%, 69% 35%, 62% 36%, 59% 17%, 52% 13%, 50% 20%, 50% 38%, 42% 41%);
        animation: 9s ease 0s 1 alternate none running c;
    }
    
    @keyframes d {
        0% {
            opacity: 0;
        }
        45% {
            opacity: 0;
        }
        56% {
            opacity: 1;
            clip-path: polygon(100% 100%, 0% 100%, 50% 50%);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgb(204, 0, 0);
        }
        67% {
            clip-path: polygon(100% 0%, 87.5% 100%, 75% 0%);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgb(255, 102, 153);
        }
        78% {
            position: absolute;
            top: 0%;
            left: 80%;
            width: 100%;
            height: 100%;
            clip-path: none;
            background-image: url(img/www-img/悅.png);
            background-color: transparent;
            background-repeat: no-repeat;
            background-color: rgba(255, 238, 0, 0.2);
            border-radius: 50%;
            background-size: contain;
        }
        89% {}
        100% {
            position: absolute;
            top: 0%;
            left: 80%;
            width: 100%;
            height: 100%;
            clip-path: none;
            background-image: url(img/www-img/悅.png);
            background-repeat: no-repeat;
            background-color: rgba(255, 8, 0, 0.2);
            border-radius: 50%;
            background-size: contain;
        }
    }
    
    @keyframes d-small {
        0% {
            opacity: 0;
        }
        45% {
            opacity: 0;
        }
        56% {
            opacity: 1;
            clip-path: polygon(100% 100%, 0% 100%, 50% 50%);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgb(204, 0, 0);
        }
        67% {
            clip-path: polygon(100% 0%, 87.5% 100%, 75% 0%);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgb(255, 102, 153);
        }
        78% {
            position: absolute;
            top: 20%;
            left: 70%;
            width: 50%;
            height: 50%;
            clip-path: none;
            background-image: url(img/www-img/悅.png);
            background-color: transparent;
            background-repeat: no-repeat;
            background-color: rgba(255, 238, 0, 0.2);
            border-radius: 50%;
            background-size: contain;
        }
        89% {}
        100% {
            position: absolute;
            top: 20%;
            left: 70%;
            width: 50%;
            height: 50%;
            clip-path: none;
            background-image: url(img/www-img/悅.png);
            background-repeat: no-repeat;
            background-color: rgba(255, 8, 0, 0.2);
            border-radius: 50%;
            background-size: contain;
        }
    }
    
    @keyframes d-tiny {
        0% {
            opacity: 0;
        }
        45% {
            opacity: 0;
        }
        56% {
            opacity: 1;
            clip-path: polygon(100% 100%, 0% 100%, 50% 50%);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgb(204, 0, 0);
        }
        67% {
            clip-path: polygon(100% 0%, 87.5% 100%, 75% 0%);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgb(255, 102, 153);
        }
        78% {
            position: absolute;
            top: 20%;
            left: 55%;
            width: 40%;
            height: 40%;
            clip-path: none;
            background-image: url(img/www-img/悅.png);
            background-color: transparent;
            background-repeat: no-repeat;
            background-color: rgba(255, 238, 0, 0.2);
            border-radius: 50%;
            background-size: contain;
        }
        89% {}
        100% {
            position: absolute;
            top: 20%;
            left: 55%;
            width: 40%;
            height: 40%;
            clip-path: none;
            background-image: url(img/www-img/悅.png);
            background-repeat: no-repeat;
            background-color: rgba(255, 8, 0, 0.2);
            border-radius: 50%;
            background-size: contain;
        }
    }
    
    .yue-right {
        position: absolute;
        top: 50%;
        right: 30%;
        width: 100px;
        height: 100px;
        background-color: blue;
        clip-path: polygon(30% 14%, 23% 21%, 16% 36%, 25% 34%, 39% 25%, 40% 18%, 58% 16%, 74% 22%, 80% 38%, 65% 32%, 56% 26%, 58% 16%, 35% 40%, 66% 40%, 66% 63%, 27% 63%, 27% 40%, 35% 40%, 35% 57%, 57% 57%, 57% 46%, 35% 46%, 35% 40%, 36% 69%, 29% 79%, 23% 86%, 11% 95%, 27% 93%, 36% 87%, 42% 79%, 49% 68%, 54% 90%, 72% 93%, 86% 92%, 85% 70%, 79% 83%, 73% 86%, 60% 83%, 59% 69%, 49% 68%, 36% 69%, 35% 40%, 58% 16%, 40% 18%);
        animation: 9s ease 0s 1 alternate none running d;
    }
    /* Wire */
    
    .Wire {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    
    @keyframes down {
        0% {
            top: 0px;
            height: 0%;
        }
        45% {}
        56% {}
        63% {
            top: 0px;
            height: 0%;
        }
        78% {
            top: 0px;
            width: 14%;
            height: 100%;
            background-color: rgb(46, 46, 46);
        }
        89% {
            top: 100%;
            height: 0%;
        }
        100% {
            top: 100%;
            height: 0%;
        }
    }
    
    @keyframes up {
        0% {
            top: 100%;
            height: 0%;
        }
        45% {}
        56% {}
        63% {
            top: 100%;
            height: 0%;
        }
        78% {
            top: 0%;
            width: 14%;
            height: 100%;
            background-color: rgb(202, 202, 202);
        }
        89% {
            top: 0%;
            height: 0%;
        }
        100% {
            top: 0%;
            height: 0%;
        }
    }
    
    .Wire-1 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 14%;
        height: 0%;
        background-color: rgb(255, 110, 110);
        animation-name: down;
        animation-duration: 9s;
    }
    
    .Wire-2 {
        position: absolute;
        bottom: 0px;
        left: 14%;
        width: 9%;
        height: 100%;
        background-color: rgb(255, 184, 102);
        animation-name: up;
        animation-duration: 9s;
    }
    
    .Wire-3 {
        position: absolute;
        top: 0px;
        left: 23%;
        width: 14%;
        height: 100%;
        background-color: rgb(255, 252, 102);
        animation-name: down;
        animation-duration: 9s;
    }
    
    .Wire-4 {
        position: absolute;
        bottom: 0px;
        left: 37%;
        width: 9%;
        height: 100%;
        background-color: rgb(115, 255, 102);
        animation-name: up;
        animation-duration: 9s;
    }
    
    .Wire-5 {
        position: absolute;
        top: 0px;
        left: 46%;
        width: 8%;
        height: 100%;
        background-color: rgb(102, 232, 255);
        animation-name: down;
        animation-duration: 9s;
    }
    
    .Wire-6 {
        position: absolute;
        bottom: 0px;
        left: 54%;
        width: 9%;
        height: 100%;
        background-color: rgb(125, 102, 255);
        animation-name: up;
        animation-duration: 9s;
    }
    
    .Wire-7 {
        position: absolute;
        top: 0px;
        left: 63%;
        width: 14%;
        height: 100%;
        background-color: rgb(181, 102, 255);
        animation-name: down;
        animation-duration: 9s;
    }
    
    .Wire-8 {
        position: absolute;
        bottom: 0px;
        left: 77%;
        width: 9%;
        height: 100%;
        background-color: rgb(255, 102, 196);
        animation-name: up;
        animation-duration: 9s;
    }
    
    .Wire-9 {
        position: absolute;
        top: 0px;
        left: 86%;
        width: 14%;
        height: 100%;
        background-color: rgb(255, 102, 102);
        animation-name: down;
        animation-duration: 9s;
    }
    /* skip */
    
    .skip a {
        font-size: 36px;
        position: absolute;
        color: #fff;
        text-decoration: none;
        z-index: 99999 !important;
    }
    
    .skip {
        position: absolute;
        left: 50%;
        bottom: -5%;
        transform: translate(-50%, -50%);
    }